
.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: black;
  }
  
  .navbar li {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
  }
  
  .navbar li.active {
    transform: translateY(-5px);
    color: #927a49; 
  }
  
  